<!DOCTYPE html>
<script>
    var customersData = {{{toJSON customers}}};
    var employeesData = {{{toJSON employees}}};
    var productsData = {{{toJSON products}}};
</script>

<head>
        <title>Customer Orders</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <header>
            <h1>Customer Orders</h1>
        </header>


<table id="customerorders-table">

   <thead>
    <tr>
        <th>Order ID</th>
        <th>Customer Name</th>
        <th>Employee Name</th>
        <th>Order Type</th>
        <th>Order Status</th>
        <th>Order Date</th>
        <th>Total</th>
        <th>Product ID</th>
        <th>Quantity</th>
        <th>Price at Sale</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
</thead>
<tbody>
    {{#each ordersData}}
    <tr data-id="{{this.customerorderID}}">
        <td>{{this.orderID}}</td>
        <td>{{this.CustomerName}}</td>
        <td>{{this.EmployeeName}}</td>
        <td>{{this.orderType}}</td>
        <td>{{this.orderStatus}}</td>
        <td>{{this.orderDate}}</td>
        <td>{{this.total}}</td>
        <td>{{this.productID}}</td>
        <td>{{this.quantity}}</td>
        <td>{{this.priceAtSale}}</td>
        <td><button class="edit-button">Edit</button></td>
        <td><button class="delete-button" onclick="deleteOrder({{this.orderID}})">Delete</button></td>
    </tr>
    {{/each}}
</tbody>
</table>
<script src="./js/edit_customerorder.js"></script>
<script src="./js/delete_customerorder.js"></script>

<h2>Add new order</h2>
<p>To add a new customer order, please enter the information below and click `Submit`!</p>
<form id="add-customerorder-form">
    <label for="input-customerID">Customer Name: </label>
    <select name="input-customerID" id="input-customerID">
        <option value="">Select Customer</option>
        {{#each customers}}
        <option value="{{this.customerID}}">{{this.name}}</option>
        {{/each}}
    </select>
    
    <label for="input-employeeID">Employee Name: </label>
    <select name="input-employeeID" id="input-employeeID">
        <option value="">Select Employee</option>
        {{#each employees}}
        <option value="{{this.employeeID}}">{{this.name}}</option>
        {{/each}}
    </select>
    
    <label for="input-ordertype">Order Type: </label>
    <input type="text" name="input-productName" id="input-orderType" required>
    
    <label for="input-status">Order Status: </label>
    <input type="text" name="input-order statue" id="input-orderStatus" required>

    <label for="input-orderDate">Order Date: </label>
    <input type="date" name="input-order date" id="input-orderDate" required>

    <label for="input-productID">Product: </label>
    <select name="input-productID" id="input-productID">
        <option value="">Select Product</option>
        {{#each products}}
        <option value="{{this.productID}}">{{this.name}}</option>
        {{/each}}
    </select>

    <label for="input-quantity">Quantity: </label>
    <input type="number" name="input-quantity" id="input-quantity">

    <input type="submit">
</form> 
<script src="./js/add_products.js"></script>

