{{!-- Create a table --}}
<!DOCTYPE html>
<head>
        <title>Employees</title>
    </head>
    <body>
        <header>
            <h1>Employees</h1>
            <nav>
                <ul>
                    <li><a href="/index">Home Page</a></li>
                    <li><a href="/customers">Customers</a></li>
                    <li><a class="active" href='/employees'>Employees</a></li>
                    <li><a href="/suppliers">Suppliers</a></li>
                    <li><a href="/products">Products</a></li>
                    <li><a href="/orders">Orders</a></li>
                </ul>
            </nav>
        </header>


<table id="employees-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.employeeID}}</td>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phone}}</td>
            <td>{{this.role}}</td>
            <td><button onclick="deleteEmployee({{this.employeeID}})">Delete</button></td>

        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_employee.js"></script>
{{!-- Form to add a record to the table using standard HTML forms --}}
<h2>Add new employee</h2>
<p>To add a new employee, please enter their information below and click `Submit`!</p>
<form id="add-employee-form" method="POST" action="/add-employee-form">
    <label for="input-fname">First Name: </label>
    <input type="text" name="input-fname" id="input-fname">
    
    <label for="input-lname">Last Name: </label>
    <input type="text" name="input-lname" id="input-lname">

    <label for="input-email">Email: </label>
    <input type="text" name="input-email" id="input-email">

    <label for="input-phone">Phone: </label>
    <input type="number" name="input-pjone" id="input-phone">

    <label for="input-role">Role: </label>
    <input type="text" name="input-role" id="input-role">

    <input type="submit">
</form> 

<h2>Updating Employee</h2>
<p>To update a specific customers detail select address or phone number select their name from the drop down.</p>
<form id="update-customer-form-ajax">

    <label for="input-fullname">Full name: </label>
    <select name="input-fullname" id="mySelect">
        <option value="test">Select a Employee</option>
        {{#each data}}
        <option value="{{this.employeeID}}">{{this.firstName}} {{this.lastName}}</option>
        {{/each}}
    </select>

    <label for="input-email">Email: </label>
    <input type="text" name="input-email" id="input-email-update">
        
    <label for="input-phone">Phone: </label>
    <input type="text" name="input-phone" id="input-phone-update">

    <label for="input-role">Role: </label>
    <input type="text" name="input-role" id="input-role-update">
    <input type="submit">

</form>

<script src="./js/update_role.js"></script>
