{{!-- Create a table --}}
<!DOCTYPE html>
<head>
        <title>Products</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    </head>
    <body>
        <header>
            <h1>Products</h1>
        </header>



<table id="products-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>edit</th>
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.productID}}</td>
            <td>{{this.name}}</td>
            <td>{{this.category}}</td>
            <td>{{this.price}}</td>
            <td>{{this.quantity}}</td>
            <td><button class="edit-button">Edit</button></td>
            <td><button onclick="deleteProduct({{this.productID}})">Delete</button></td>

        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/update_product.js"></script>
<script src="./js/delete_product.js"></script>
{{!-- Form to add a record to the table using standard HTML forms --}}
<h2>Add new product</h2>
<p>To add a new product, please enter the information below and click `Submit`!</p>
<form id="add-product-form-ajax">
    <label for="input-productName">Product Name: </label>
    <input type="text" name="input-productName" id="input-productName">
    
    <label for="input-category">Category: </label>
    <input type="text" name="input-category" id="input-category">


    <label for="input-price">Price: </label>
    <input type="number" name="input-price" id="input-price">

    <label for="input-quantity">Quantity: </label>
    <input type="number" name="input-quantity" id="input-quantity">


    <input type="submit">
</form> 
<script src="./js/add_products.js"></script>
