<!DOCTYPE html>
<head>
        <title>Purchase Order Products</title>
    </head>
    <body>
        <header>
            <h1>Purchase Order Products</h1>
            <nav>
                <ul>
                    <li><a href="/index">Home Page</a></li>
                    <li><a href="/customers">Customers</a></li>
                    <li><a href="/enployees">Employees</a></li>
                    <li><a href="/suppliers">Suppliers</a></li>
                    <li><a href="/products">Products</a></li>
                    <li><a href='/orders'>Orders</a></li>
                    <li><a href="/orderproducts">Order Products</a></li>
                    <li><a class="active" href="/purchaseorderproducts">Purchase Order Products</a></li>
                </ul>
            </nav>
        </header>


<table id="PurchaseOrderProducts-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.productID}}</td>
            <td>{{this.purchaseID}}</td>
            <td>{{this.quantity}}</td>
            <td>{{this.unitPrice}}</td>
            <td><button onclick="deleteOrder({{this.productID}})">Delete</button></td>

        </tr>
        {{/each}}
    </tbody>
</table>
